@font-face {
  font-family: 'Merriweather-Black';
  src: url('../assets/fonts/merriweather_black.woff') format('woff');
}

@font-face {
  font-family: 'Montserrat-Regular';
  src: url('../assets/fonts/montserrat_regular.woff') format('woff');
}
