body {
  background-color: #eeeeee;
  color: #424242;
}

.menu {
  list-style: none;
  border-bottom: 1px solid #424242;
}
.menu h5 {
  display: inline-block;
}
.menu li {
  display: inline;
  padding: 0 1em;
  cursor: pointer;
}

.new-folder {
  display: inline-block;
  margin-left: 10px;
}
.new-folder input {
  padding: 5px;
}


.DraftEditor-root {
  padding: 20px;
  border: 2px solid #424242;
}
