/*
 *
 * Colors:
 * gray: #eeeeee
 * black: #424242
 * white: #fafafa
 *
 */


body {
  background-color: #eeeeee;
}

input {
  padding: 0 5px;
  /*border-radius: 3px;*/
}

.menu {
  list-style: none;
  border-bottom: 1px solid #424242;
}
.menu h5 {
  display: inline-block;
}
.menu li {
  display: inline;
  padding: 0 1em;
  cursor: pointer;
}

.new-folder {
  display: inline-block;
  margin-left: 10px;
}
.new-folder input {
  padding: 5px;
}


.DraftEditor-root {
  padding: 5px 5px;
  border: 1px solid #424242;
  background-color: #fafafa;
}

.searchForm {
  display: inline-block;
}

.btn span {
  color: #424242;
}

.btn svg.icon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

.btn.btn-inline.check svg.icon {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

.btn.btn-small svg.icon {
  width: 18px;
  height: 18px;
  padding-bottom: 5px;
}
