/*
 *
 * Colors:
 * gray: #eeeeee
 * dark-gray: #e6e6e6
 * black: #424242
 * white: #fafafa
 *
 */


body {
  background-color: #eeeeee;
  font-family: 'Montserrat-Regular', serif;
}

input {
  padding: 0 5px;
  font-family: 'Montserrat-Regular', serif;
}

svg {
  fill: #424242;
}

h2 {
  font-family: 'Merriweather-Black', serif;
}

.menu {
  list-style: none;
  border-bottom: 1px solid #e6e6e6;
}
.menu h5 {
  display: inline-block;
}
.menu li {
  display: inline;
  padding: 0 1em;
  cursor: pointer;
}

ul.folders, ul.notes {
  list-style: none;
  padding-left: 0;
}

ul.folders li {
  margin-bottom: 10px;
  cursor: pointer;
  text-align: center;
  height: 100%;
  border: 0px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: #424242;
  line-height: 40px;
  font-size: 20px;
  font-weight: 400;
  font-family: 'Merriweather-Black', serif;
  background-color: #fafafa;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

ul.folders li svg {
  vertical-align: middle;
  width: 22px;
  height: 22px;
}

ul.folders li:hover {
  color: #eeeeee;
  box-shadow: rgba(0,0,0,0.2) 0px 3px 4px 0px;
  background-color: #e6e6e6;
}

.folder {
  display: inline-block;
}

.folderName {
  width: 130px;
  background-color: #e6e6e6;
}

.note {
  vertical-align: middle;
  padding: 10px 0;
  cursor: pointer;
  text-align: center;
  border: 0px solid rgba(123, 123, 123, 0.498039);
  border-radius: 4px;
  color: #424242;
  line-height: 30px;
  font-size: 15px;
  font-weight: 400;
  background-color: #fafafa;
  box-shadow: rgba(0,0,0,0.2) 0px 1px 2px 0px;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}

.note:hover {
  color: #eeeeee;
  box-shadow: rgba(0,0,0,0.2) 0px 3px 4px 0px;
  background-color: #e6e6e6;
}

.noteTitle {
  display: inline;
}

.note svg {
  vertical-align: middle;
  width: 22px;
  height: 22px;
}


.new-folder {
  display: inline-block;
  /*margin-left: 10px;*/
}
.new-folder input {
  padding: 5px;
}

.DraftEditor-root {
  padding: 5px 5px;
  border: 1px solid #424242;
  background-color: #fafafa;
}

.searchForm {
  display: inline-block;
}

.btn span {
  color: #424242;
}

.btn svg.icon {
  width: 24px;
  height: 24px;
  margin-top: 5px;
}

.btn.btn-inline.check svg.icon {
  width: 24px;
  height: 24px;
  margin-top: 10px;
}

.btn.btn-small svg.icon {
  width: 18px;
  height: 18px;
  padding-bottom: 5px;
}
